@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.infoblock {
    background: $background-black;
    height: 100vh;
    @include flex-center;
    flex-direction: column;
    padding: 60px 7%;
    &_heading {
        @include web-font-mid;
        padding-bottom: 30px;
    }
    &_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}