@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.header {
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    height: 76px;
    background: rgba(18, 10, 31, 0.46);
    backdrop-filter: blur(20px);
    &_links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    &_links div:last-child{
        color: $default-purple;
    }
}

.logo {
    width: 25%;
    @include flex-center;
    &_eye {
    background: url('../../assets/eye.svg') no-repeat center;
    background-size: contain;
    width: 64px;
    height: 32px;
    margin-right: 15%;
    }
}
