@font-face {
  font-family: 'Open Sans Regular';
  src: url(./fonts/OpenSans-Regular.ttf);
}
body {
  margin: 0;
  font-family: 'Open Sans Regular';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
