@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.card {
    background: $tile-black;
    width: 45%;
    height: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    @include web-font-small
}