@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.card {
    background: $tile-black;
    width: 45%;
    height: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    @include web-font-small;
    &_name {
        @include web-font-small;
        margin-bottom: 32px;
    }
    &_descr {
        @include web-font-smallest;
        margin-bottom: 32px;
    }
    &_info-wrapper {
        padding: 20px;
    }
}